.changed {
    border:1px solid  rgba(252,205,77,0.83) !important;
    -webkit-box-shadow: 0px 0px 5px rgba(252, 205, 77, 0.71);
    -moz-box-shadow:    0px 0px 5px rgba(252, 205, 77, 0.71);
    box-shadow:         0px 0px 5px rgba(252, 205, 77, 0.71);

}